-e git+https://github.com/spencershepard/dcs@60f5121d89f23a062a0494803f8105361cdf36e8#egg=pydcs
packaging==21.3
PyQt5==5.15.9
PyYAML==6.0
qtmodern==0.2.0
requests==2.27.1
pyproj==3.4.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
