git+https://github.com/spencershepard/dcs@1bfc687aec12ab7fbb91080b8e6fe1111e60785a
packaging==21.3
PyQt5==5.15.9
PyYAML==6.0
qtmodern==0.2.0
requests==2.27.1
pyproj==3.7.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
