
.project
sound/desktop.ini

Generator/.idea
Generator/__pycache__
Generator/build
Generator/venv
Generator/dist
Generator/generator.log
incoming templates/
Generator/utils/extract units/source.miz
Generator/utils/extract units/units.txt
generator.log
templates/Scenarios/user
templates/Scenarios/downloaded
templates/Imports/user
templates/Imports/downloaded
templates/Forces/user
templates/Forces/downloaded
config/user-data.yaml
config/user-data.yaml
server/user-files/modules/mapscript-sql.py
distribution/
MissionOutput/
.idea
*.env
RotorOps_setup.exe
Generator/resources.py
