
.project
sound/desktop.ini

Generator/.idea
Generator/__pycache__
Generator/build
Generator/venv
Generator/dist
Generator/generator.log
MissionGenerator.exe
incoming templates/
Generator/utils/extract units/source.miz
Generator/utils/extract units/units.txt
generator.log
